*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family: tahoma, sans-serif;
  color: #03034b;
}
a{
  text-decoration: none;
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.8rem;
  letter-spacing: .1rem;
}
.section-title{
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: .3rem;
  text-align: center;
}
.section-title span{
  color: orangered;
}
.cta{
  display: inline-block;
  padding: 10px 30px;
  color: #03034b;
  background-color: transparent;
  border: 4px solid orangered;
  border-radius: 50%;
  font-size: 2rem;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease background-color;
}
.cta:hover{
  background-color: orangered;
}
/* hero section */
#hero{
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:orange;
  opacity: .5;
  z-index: -1;
}
#hero h1{
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
}
#hero h1 span{
  color: orangered;
  padding: 0 10px;
  background-color: #03034b;
}
/* end hero section */

/* services section */
#services .services{
  flex-direction: column;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 0;
}
#services .service-top p{
  text-align: center;
  margin: 20px 0;
}
#services .service-bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
#services .service-bottom .icon{
  width: 100px;
  height: 100px;
}
#services .service-item{
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-image: url(../img/services-bg.jpg);
  background-size: cover;
  border-radius: 20px;
  margin: 10px 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#services .service-item::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(red, yellow);
  opacity: .3;
  z-index: -1;
}
#services .service-item h2{
  font-size: 2rem;
  margin-bottom: 10px;
}
#services .service-item h2 span{
  color: orangered;
}
/* end services section */

/* projects section */
#projects .projects{
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: rgba(255, 165, 0, .5);
}
#projects .projects-header h1{
  margin-bottom: 50px;
}
#projects .all-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects .project-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}
#projects .project-info{
  background-color: rgba(255, 69, 0, .5);
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
#projects .project-info h1{
  font-size: 3rem;
  margin-bottom: 20px;
}
#projects .project-img{
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, red, yellow);
  opacity: .5;
}
#projects .project-img img{
  transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
  transform: scale(1.1);
}
/* end projects section */

/* about section */
#about .about{
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}
#about .colm-left{
  width: 300px;
  height: 350px;
}
#about .colm-left .about-img{
  position: relative;
  width: 100%;
  height: 100%;
  border: 7px solid white;
}
#about .colm-left .about-img::after{
  content: '';
  position: absolute;
  border: 10px solid orangered;
  top: 20px;
  left: -30px;
  width: 98%;
  height: 98%;
  z-index: -1;
}
#about .colm-right h2{
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .2rem;
  margin: 20px 0 10px 0;
}
#about .colm-right p{
  margin-bottom: 10px;
  text-align: center;
}
#about .colm-right .cta{
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 40px;
}
/* end about section */

footer{
  background: rgba(255, 165, 0, .5);
}
footer p{
  text-align: center;
  padding: 20px;
}