*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family: tahoma, sans-serif;
  color: #03034b;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.8rem;
  letter-spacing: .1rem;
}
.section-title{
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: .3rem;
  text-align: center;
}
span{
  color: orangered;
}
.cta{
  display: inline-block;
  padding: 10px 30px;
  color: #03034b;
  background-color: transparent;
  border: 4px solid orangered;
  border-radius: 50%;
  font-size: 2rem;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease background-color;
}
.cta:hover{
  background-color: orangered;
}

/* header section */
#header{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
}
#header .header{
  min-height: 8vh;
  background-color: #ff440031;
  transition: .3s ease background-color;
}
#header .nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 10px;
}
#header .nav-list ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: absolute;
  background-color: #1e1e1e;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}
#header .nav-list ul.active{
left: 0;
}
#header .nav-list ul a{
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}
#header .nav-list ul a:hover{
  color: orangered;
}
#header .nav-list ul a::after{
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fd713e31;
  font-size: 15rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .hamburger{
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 5px solid orangered;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  z-index: 10;
  cursor: pointer;
  margin-right: 20px;
}

/* #header .hamburger::after je povezan sa keyframes hamburer_puls */
/* #header .hamburger::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 50%;
  animation: hamburger_puls 1s ease infinite;
} */

#header .hamburger .bar{
  width: 50px;
  height: 3px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::before{
  top: 8px;
}
#header .hamburger .bar::after{
  bottom: 8px;
}
#header .hamburger.active .bar::before{
  top: 0;
}
#header .hamburger.active .bar::after{
  bottom: 0;
}
#header h1{
  font-size: 3rem;
  letter-spacing: .1rem;
}

/* hero section */
#hero{
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:orange;
  opacity: .5;
  z-index: -1;
}
#hero h1{
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
}
#hero h1 span{
  color: orangered;
  padding: 0 10px;
  background-color: #03034b;
}

/* services section */
#services .services{
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#services .service-top{
  max-width: 500px;
  margin: 0 auto;
}
#services .service-top p{
  text-align: center;
  margin: 20px 0;
}
#services .service-bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
#services .service-bottom .icon{
  width: 100px;
  height: 100px;
}
#services .service-item{
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-image: url(../img/services-bg.jpg);
  background-size: cover;
  border-radius: 20px;
  margin: 10px 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#services .service-item::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(red, yellow);
  opacity: .3;
  z-index: -1;
}
#services .service-item h2{
  font-size: 2rem;
  margin-bottom: 10px;
}
#services .service-item h2 span{
  color: orangered;
}

/* projects section */
#projects .projects{
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: rgba(255, 165, 0, .5);
}
#projects .projects-header h1{
  margin-bottom: 50px;
}
#projects .all-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects .project-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}
#projects .project-info{
  background-color: rgba(255, 69, 0, .5);
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
#projects .project-info h1{
  font-size: 3rem;
  margin-bottom: 20px;
}
#projects .project-img{
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, red, yellow);
  opacity: .5;
}
#projects .project-img img{
  transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
  transform: scale(1.1);
}

/* about section */
#about .about{
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .colm-left{
  width: 300px;
  height: 350px;
}
#about .colm-left .about-img{
  position: relative;
  width: 100%;
  height: 100%;
  border: 7px solid white;
}
#about .colm-left .about-img::after{
  content: '';
  position: absolute;
  border: 10px solid orangered;
  top: 20px;
  left: -30px;
  width: 98%;
  height: 98%;
  z-index: -1;
}
#about .colm-right{
  width: 100%;
}
#about .colm-right h2{
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .2rem;
  margin: 20px 0 10px 0;
}
#about .colm-right p{
  margin-bottom: 10px;
  text-align: center;
}
#about .colm-right .cta{
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 40px;
}

/* contact section */
#contact .contact{
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 165, 0, .5);
}
#contact .all-items{
  width: 400px;
}
#contact .contact-item{
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 18px 0 #0000004c;
  transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
  box-shadow: 0 0 3px 0 #0000004c;
}
#contact .icon{
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1{
  font-size: 2rem;
  letter-spacing: .1rem;
  margin-bottom: 10px;
}
#contact .contact-info h2{
  font-size: 1.6rem;
}

/* footer section */
footer .footer{
  min-height: 200px;
  flex-direction: column;
  padding: 50px 0 10px 0;
}
footer .brand{
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: .1rem;
}
footer h2{
  font-size: 1.8rem;
  margin-bottom: 30px;
  letter-spacing: .1rem;
}

/* keyframes */
/* @keyframes hamburger_puls{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(1.3);
  }
} */

/* media query tablet */
@media screen and (min-width:700px){
  .cta{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 20px 60px;
  }
  .section-title{
    font-size: 6rem;
  }

  /* hero */
  #hero h1{
    font-size: 7rem;
  }

  /* services */
#services .service-item{
  flex-basis: 45%;
  margin: 2.5%;
}
  /* project */
  #projects .project-item{
    flex-direction: row;
    width: 100%;
    height: 400px;
    margin: 0;
    border-radius: 0;
  }
  #projects .project-item:nth-child(even){
    flex-direction: row-reverse;
  }
  #projects .all-projects .project-info{
    height: 100%;
  }
  #projects .all-projects .project-img{
    height: 100%;
  }

  /* about */
  #about .about{
    flex-direction: row;
  }
  #about .colm-left{
    width: 600px;
    height: 350px;
    padding-left: 60px;
  }
  #about .colm-right{
    text-align: left;
    padding: 30px;
  }
  #about .colm-right h1{
    text-align: left;
  }
  #about .colm-right p{
    text-align: left;
  }

  /* contact */
  #contact .contact-header{
    margin: 100px;
  }
  #contact .contact{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #contact .all-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 60px 0;
    padding: 20px;
  }
  #contact .contact-item{
    width: 40%;
    max-width: 400px;
    margin: 0 auto;
  }
  #contact .contact-item .icon{
    width: 80px;
    height: 80px;
  }
}

  /* media query desktop */
@media screen and (min-width:1200px){
  /* header */
  #header .header{
    min-height: 8vh;
  }
  #header .hamburger{
    display: none;
  }
  #header .nav-list ul{
    position: initial;
    display: block;
    width: fit-content;
    height: auto;
    background-color: transparent;
  }
  #header .nav-list ul a{
    font-size: 1.8rem;
  }
  #header .nav-list ul a::after{
    display: none;
  }
  #header .nav-list ul li{
    display: inline-block;
  }
  #services .service-bottom .service-item{
    flex-basis: 22%;
    margin: 1.5%;
  }
  #projects .project-item{
    height: 300px;
  }
}
