*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family: tahoma, sans-serif;
}
a{
  text-decoration: none;
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p{
  color: #03034b;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.8rem;
  letter-spacing: .1rem;
}
/* hero section */
#hero{
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:orange;
  opacity: .5;
  z-index: -1;
}
#hero h1{
  display: block;
  width: fit-content;
  color: #03034b;
  font-size: 4rem;
  position: relative;
}
#hero h1 span{
  color: orangered;
  padding: 0 10px;
  background-color: #03034b;
}
#hero .cta{
  display: inline-block;
  padding: 10px 30px;
  color: #03034b;
  background-color: transparent;
  border: 2px solid orangered;
  border-radius: 50%;
  font-size: 2rem;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease background-color;
}
#hero .cta:hover{
  color: #03034b;
  background-color: orangered;
}
/* end hero section */

/* services section */
#services .services{
  flex-direction: column;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 0;
}
#services .service-title{
  color: #03034b;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: .3rem;
  text-align: center;
}
#services .service-title span{
  color: orangered;
}
#services .service-top p{
  text-align: center;
  margin: 20px 0;
}
#services .service-bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#services .service-item{
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-image: url(../img/services-bg2.jpg);
  background-size: cover;
  border-radius: 20px;
  margin: 10px 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#services .service-item::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(red, yellow);
  opacity: .3;
  z-index: -1;
}
#services .service-bottom .icon{
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
#services .service-item h2{
  color: #03034b;
  font-size: 2rem;
  margin-bottom: 10px;
}
#services .service-item h2 span{
  color: orangered;
}
/* end services section */